#root {
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  line-height: 1.7;

  > section {
    padding: 50px 35px;
    > .title {
      white-space: nowrap;
      color: var(--primary-color);
      text-transform: uppercase;
      text-align: left;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    > p {
      text-align: left;
    }
  }

  > #about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > h1 {
      font-size: 32px;
    }
    > .intro {
      font-weight: 400;
    }
  }

  > #services {
    > ul {
      text-align: left;
      width: 100%;
      > li {
        margin-bottom: 12px;
        > h4 {
          text-align: start;
        }
        > p {
          font-size: 15px;
          opacity: 0.8;
        }
      }
    }

    @media (min-width: 768px) {
      display: flex;
      align-items: start;
      justify-content: start;
      > ul {
        margin-left: 0;
        margin-left: 2rem;
        width: 100%;
      }
    }
  }

  > footer {
    padding: 50px 35px;
    text-align: center;
  }
}
